@using GroceryFinal.Model
@model Supplier

<form method="post">
    <input asp-for="SupplierId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Supplier</h2>
            </hr>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="SupplierName" class="p-0"></label>
            <input asp-for="SupplierName" disabled class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="SupplierAddress" class="p-0"></label>
            <input asp-for="SupplierAddress" disabled class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="SupplierAddress2" class="p-0"></label>
            <input asp-for="SupplierAddress2" disabled class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="SupplierCity" class="p-0"></label>
            <input asp-for="SupplierCity" disabled class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="SupplierState" class="p-0"></label>
            <input asp-for="SupplierState" disabled class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="SupplierZipCode" class="p-0"></label>
            <input asp-for="SupplierZipCode" disabled class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="SupplierPhone" class="p-0"></label>
            <input asp-for="SupplierPhone" disabled class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="SupplierEmail" class="p-0"></label>
            <input asp-for="SupplierEmail" disabled class="form-control" />
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Delete</button>

            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Supplier" asp-action="Index" class="btn btn-outline-secondary border form-control">
                    Cancel
                </a>
            </div>
        </div>

    </div>
</form>

